* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #121214;
}
header {
  background-color: #17171a;
  flex-direction: column;
  display: flex;
  padding: 40px 20px;
  justify-items: center;
  align-items: center;
}
h1 {
  font-family: "Space Grotesk";
  font-weight: 600;
  margin-top: 50px;
  color: #ffffff;
}

input {
  margin-top: 50px;
  min-height: 30px;
  width: 600px;
  max-width: 80vw;
  background-color: #202024;
  border-radius: 5px;
  border: #252529 1px solid;
  color: #c2c2c2;
  padding-left: 25px;
  font-family: Inter;
}

::placeholder {
  color: #858585;
}

input:focus {
  outline: none;
}

.card-1:focus,
.card-2:focus, 
.card-3:focus{
  outline: #E07B67 solid 1px;
}

main {
  display: flex;
  color: #ffffff;
  display: flex;
  padding: 30px 20px;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 220px);
}
.cards{
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
}
.card-1,
.card-2,
.card-3 {
  background-color: #17171a;
  padding: 40px;
  border: #252529 1px solid;
  border-radius: 10px;
  width: 600px;
  max-width: 80vw;
}

.top{
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.icon {
    fill: #17171A;
    stroke: #E07B67 ;
    stroke-width: 7;
    cursor: pointer;
    height: 20px;
    width: 20px;
    transition: fill 0.3s;
}
.icon.filled,
.icon:hover {
  fill: #E07B67;
}

h3{
  font-family: Inter;
  font-weight: 450;
  font-size: 12px;
  margin: 0;
  color: #E07B67;
}

h2{
  margin-top: 10px;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  
}

p {
  color: #c2c2c2;
  font-family: Inter;
  font-weight: 400;
  margin-top: 20px;
  font-size: 13px;
  line-height: 20px;
}